.width500px {
    width: 500px;
}
.fontSize20px {
    font-size: 20px;
}
.fontFamilySanSerif {
    font-family: sans-serif;
}

.overflowAuto {
    overflow: auto;
}

.paddingLeft12px {
    padding-left: 12px;
}